* {
	font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	font-size: 16px;
}

#custom-user,
tooltip label {
	font-weight: normal;
}

#window label {
	font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	font-size: 16px;
}

#workspaces button.active label,
#workspaces button.focused label,
#custom-distro {
	font-size: 20px;
}

#custom-power_menu {
	font-size: 18px;
}

#custom-left_div,
#custom-left_inv,
#custom-right_div,
#custom-right_inv {
	font-size: 22px;
}
