* {
	color: @main-fg;
}

.module {
	min-height: 28px;
}

#waybar {
	background-color: transparent;
}
#waybar > box {
	margin: 4px 2px;
	background-color: transparent;
}

button {
	border-radius: 16px;
	min-width: 16px;
	min-height: 28px;
	padding: 0 10px;
}
button:hover {
	background-color: @hover-bg;
	color: @hover-fg;
}

tooltip {
	border: 2px solid @main-br;
	border-radius: 10px;
	background-color: alpha(@main-bg, 0.85);
}
tooltip > box {
	padding: 0 6px;
}

/* Calendar tooltip - monospace for alignment */
#clock tooltip {
	font-family: monospace;
}
#clock tooltip label {
	font-family: monospace;
}
