/*--------------
    power button
--------------*/

#custom-power {
	background-color: @maroon;
	color: @crust;
	margin-left: 2px;
	margin-right: 2px;
	padding: 0 12px 0 8px;
	border-radius: 8px;
	min-height: 26px;
}

#custom-power label {
	min-height: 26px;
}

#custom-power.updates-available {
	background-color: @red;
}

#custom-power:hover {
	background-color: @red;
}

/*--------------
    username
--------------*/

#custom-user {
	padding-right: 12px;
}

/*----------------
    workspaces
----------------*/

#custom-left_div.1,
#custom-right_div.1 {
	color: @workspaces;
}
#workspaces {
	padding: 0 1px;
	background-color: transparent;
}
#workspaces button.active,
#workspaces button.focused {
	background-color: @maroon;
	border-radius: 8px;
}
#workspaces button.active label,
#workspaces button.focused label {
	color: @crust;
}
#workspaces button:hover {
	background-color: @red;
	border-radius: 8px;
}
#workspaces button:hover label {
	color: @crust;
}

/*------------------
    window title
------------------*/

#window {
	margin-left: 12px;
	min-width: 200px;
	min-height: 28px;
}
